<div class="alerts">
  <header class="section group" {{bind-attr style='view.headerStyle'}}>
    <div class="col col-contract-code">Contract&nbsp;code</div>
    <div class="col col-late-days">Late</div>
    <div class="col col-client-name">Client</div>
    <div class="col col-amount">Amount</div>
    <div class="col col-loan-officer">Loan&nbsp;officer</div>
    <div class="col col-branch-name">Branch</div>
  </header>
  
  <section>
    {{#each}}
      <div class="section group">
        <div class="col col-contract-code">{{contractCode}}</div>
        <div class="col col-late-days"><span {{bind-attr class='lateDaysClass'}}>{{lateDays}}</span></div>
        <div class="col col-client-name">{{clientName}}</div>
        <div class="col col-amount">{{amount}}</div>
        <div class="col col-loan-officer">{{loanOfficer}}</div>
        <div class="col col-branch-name">{{branchName}}</div>
      </div>
    {{/each}}
  </section>

</div>
