{{navigation-bar isAuthenticated=isAuthenticated displayName=displayName logout="logout"}}

<div class="content">
  {{outlet}}

  <p>Token: {{model.id}}</p>
  <p>user: {{model.user.firstName}} {{model.user.lastName}}</p>

  {{#if isAuthenticated}}
  AUTHENTICATED!!!
  {{/if}}
</div>
